.ListPagination {
	width: 100%;
	margin-left: 28.8rem;
	display: flex;
	flex-flow: row wrap;
	margin-top: 4.8rem;
}
.ListPagination__more {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.ListPagination__load {
	display: none;
	position: absolute;
	width: 3rem;
	transform: rotate(360deg);
	animation: load 0.5s linear;
	animation-iteration-count: infinite;
}
.pagination {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 2.4rem;
	gap: 0.4rem;
}
.ListPagination__more,
.pagination__link,
.pagination__button {
	width: 100%;
	height: 4.8rem;
	background-color: $primary-5;
	cursor: pointer;
	border-radius: 0.4rem;
	font-size: 1.4rem;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $primary-10;
	}
}
.pagination__link,
.pagination__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.8rem;
	color: $primary-40;
	user-select: none;
}
.pagination__link_active {
	color: white;
	background-color: $primary-80;
	cursor: inherit;
	pointer-events: none;
}
.pagination__button {
	margin: 0 0.4rem;
}
.pagination__button_next {
	order: 1;
}
.pagination__img_prev,
.pagination__img_next {
	width: 1rem;
}
.pagination__img_next {
	transform: rotate(180deg);
}
.pagination__link_hide,
.pagination__button_hide,
.ListPagination_hide,
.ListPagination__more_hide {
	display: none;
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
