.list_background {
	background-color: $background;
}
.listHeader {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 3rem;
	position: relative;
	height: 3.2rem;
}
.catalog {
	display: flex;
	flex-flow: row wrap;
}
