.menuWrap {
	box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.17);
	background-color: white;
	width: 100%;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 10.7rem;
	transition: transform 0.2s ease, opacity 0.2s ease;
	opacity: 0;
	transform: translateY(1rem);
}
.menuWrap_open {
	opacity: 1;
	transform: translateY(0rem);
}
