.indexSlider__slide {
	height: auto !important;
	user-select: none;
	background-color: $product-card-bg;
	border-radius: 0.4rem;
	margin-top: 2.8rem;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $primary-10;
		.indexSlider__img {
			filter: brightness(95%);
		}
	}
}
.indexSlider__link {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100%;
	padding: 3.6rem 0.8rem 2.4rem;
}
.indexSlider__img {
	display: block;
	width: 100%;
	border-radius: 0.4rem;
	margin-bottom: 1.8rem;
	transition: filter 0.3s ease;
}
.indexSlider__brand,
.indexSlider__type,
.indexSlider__model,
.indexSlider__price {
	text-align: center;
	overflow: hidden;
}
.indexSlider__brand {
	white-space: nowrap;
	margin-bottom: 0.3rem;
}
.indexSlider__type,
.indexSlider__model {
	color: $primary-40;
	font-size: 1.2rem;
	height: 3.2rem;
	line-height: 1.6rem;
}
.indexSlider__model {
	margin-bottom: 1.2rem;
}
