.indexSlider_logo {
	margin-bottom: 6.4rem;
}
.indexSlider__slide {
	height: auto !important;
	user-select: none;
}
.indexSlider__pic {
	padding-top: 100%;
}
.indexSlider__img {
	display: block;
	width: 100%;
	height: 100%;
}
