.menu {
	display: none;
	width: 100%;
	padding: 2.4rem 4.2rem 2.4rem 11.6rem;
	box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.17);
	position: absolute;
}
.menu_active {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

//menuNav
.menuNav {
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
}
.menuNav__ul {
	margin-right: 2.4rem;
	flex: 1;
}
.menuNav__li {
	list-style-type: none;
}
.menuNav__a {
	text-decoration: none;
	height: 3.2rem;
	line-height: 3.2rem;
	white-space: nowrap;
	display: inline-flex;
	flex-flow: column;

	&::after {
		content: '';
		display: inline-block;
		width: 0;
		min-height: 0.15rem;
		background-color: black;
		transition: width 0.3s ease;
		margin-top: -0.2rem;
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}
}
.menuNav__li_capital {
	margin-bottom: 2.7rem;
}
.menuNav__a_capital {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 1.4px;
	color: $primary-40;
	transition: color 0.3s ease;
	&::after {
		margin-top: -0.8rem;
		min-height: 0.1rem;
	}
	&:hover {
		color: black;
	}
}

//menuImg
.menuImg {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	padding-bottom: 0.6rem;
	margin: 0 -1rem -1rem -1rem;
}
.menuImg__a {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-decoration: none;
	transition: opacity 0.3s ease;
	width: 50%;
	padding: 1rem;
	&:hover {
		opacity: 0.8;
	}
}
.menuImg__img {
	width: 100%;
	height: 100%;
	border-radius: 0.4rem;
	object-fit: cover;
}
.menuImg__span {
	margin-top: 1.4rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 1.6px;
}

//optional
.menuNav_brand {
	flex: 3;
}
.menuImg_brand {
	flex-flow: column;
}
.menuImg__a_brand {
	width: 100%;
	height: 100%;
}
.menuNav__li_brand {
	margin-top: 5.9rem;
}
.menuImg__a_sex {
	height: 100%;
}
