html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Graphik;
	font-size: 1.4rem;
	color: black;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.main {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.main_isLoad {
	opacity: 1;
}
.cont {
	padding: 13.1rem 4.2rem 7rem;
	max-width: 148.8rem;
	margin: 0 auto;
}
