html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Graphik;
	font-size: 1.4rem;
	color: black;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.main {
	padding: 13.1rem 4.2rem 7rem;
	max-width: 148.8rem;
	margin: 0 auto;
}
.wrap_tr {
	display: block;
	position: relative;
}
.img_tr {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.lazy__img {
	.img_tr {
		transition: opacity 0.3s ease;
		opacity: 1;
	}
}
