.indexSex {
	display: flex;
	flex-flow: row nowrap;
	gap: 2.4rem;
	margin-bottom: 6.4rem;
}
.indexSex__link {
	flex: 1;
	position: relative;
	transition: opacity 0.3s ease;
	&:hover {
		opacity: 0.85;
	}
}
.indexSex__img {
	display: block;
	width: 100%;
	border-radius: 0.4rem;
}
.indexSex__block {
	position: absolute;
	bottom: 2%;
	width: 100%;
}
.indexSex__span {
	width: 96%;
	height: 4.8rem;
	margin: 0 auto;
	font-size: 1.8rem;
	border-radius: 0.4rem;
	backdrop-filter: blur(10px);
	background-color: hsla(0, 0%, 100%, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
