$primary: #000;
$background: #f2f2f2;
$white: #fff;
$red: #ed352c;
$red-5: rgba(237, 53, 44, 0.05);
$green: #4fcc1b;
$orange: #ff9a51;
$yellow: #ffa309;
$purple: #a335e6;
$white-10: hsla(0, 0%, 100%, 0.1);
$white-20: hsla(0, 0%, 100%, 0.2);
$white-40: hsla(0, 0%, 100%, 0.4);
$white-50: hsla(0, 0%, 100%, 0.5);
$product-card-bg: #f2f2f2;
$primary-80: rgba(0, 0, 0, 0.8);
$primary-70: rgba(0, 0, 0, 0.7);
$primary-60: rgba(0, 0, 0, 0.6);
$primary-50: rgba(0, 0, 0, 0.5);
$primary-40: rgba(0, 0, 0, 0.4);
$primary-30: rgba(0, 0, 0, 0.3);
$primary-20: rgba(0, 0, 0, 0.2);
$primary-10: rgba(0, 0, 0, 0.1);
$primary-5: rgba(0, 0, 0, 0.05);

@font-face {
	font-family: Graphik;
	src: url(/font/Graphik.woff);
}
