.itemsList {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	margin-left: 2.4rem;
}
.item__link {
	align-self: flex-start;
	width: 25%;
	padding: 3.6rem 0.8rem 1.3rem;
	position: relative;
	&:hover {
		.itemSize {
			opacity: 1;
		}
		.itemIcon {
			opacity: 1;
		}
		.item__shadow {
			opacity: 1;
			height: 100%;
		}
	}
}
.item__cont {
	display: flex;
	flex-flow: column nowrap;
}
.item__pic {
	padding-top: 100%;
	margin-bottom: 1.8rem;
}
.item__img {
	display: block;
	width: 100%;
}
.item__brand,
.item__type,
.item__model,
.item__price {
	text-align: center;
	overflow: hidden;
}
.item__brand {
	margin-bottom: 0.3rem;
}
.item__type,
.item__model {
	color: $primary-40;
	font-size: 1.2rem;
	height: 3.2rem;
	line-height: 1.6rem;
}
.item__price {
	height: 3.62rem;
	display: flex;
	align-items: end;
	justify-content: center;
}
.item__split {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50rem;
	padding: 0.8rem 1.2rem;
	margin: 1.2rem auto 0;
	font-size: 1.2rem;
	color: $primary-40;
}
.item__split_span {
	font-size: 1.2rem;
	color: $purple;
}
.item__signature {
	font-size: 1rem;
	color: $primary-40;
	margin-top: 0.4rem;
	line-height: 1.3rem;
	text-align: center;
}
.itemSize {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.3rem;
	opacity: 0;
	transition: opacity 0.2s ease;
	position: relative;
	z-index: 2;
}
.itemSize_center {
	justify-content: center;
}
.itemSize__wrap {
	width: 25%;
	padding: 0.2rem;
}
.itemSize__size {
	cursor: pointer;
	width: 100%;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary-5;
	border-radius: 0.4rem;
	font-size: 1rem;
	transition: background-color 0.2s ease, color 0.3s 0.3s ease;
	&:hover {
		background-color: $primary-10;
	}
}
.itemSize__ok {
	position: absolute;
	width: 1.7rem;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.3s ease;
}
.itemSize__size_click {
	color: transparent;
	transition: background-color 0.2s ease, color 0.3s ease;
	.itemSize__ok {
		transition: opacity 0.3s ease;
		transition-delay: 0.3s;
		opacity: 1;
	}
}
.itemIcon {
	position: absolute;
	display: flex;
	flex-flow: column;
	top: 1.3rem;
	right: 1.3rem;
	gap: 1rem;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.itemIcon__icon {
	width: 2.4rem;
	height: 2.4rem;
	opacity: 0.4;
	transition: opacity 0.2s ease;
	z-index: 2;
	&:hover {
		opacity: 1;
	}
}
.item__shadow {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $primary-5;
	height: 88.5%;
	opacity: 0;
	transition: opacity 0.3s ease, height 0.2s ease-in-out;
	z-index: 1;
	border-radius: 0.4rem;
}
.itemSale {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.itemSale__block {
	width: 100%;
	display: flex;
	justify-content: center;
}
.itemSale__price {
	text-decoration: line-through;
	color: $primary-40;
}
.itemSale__percent {
	margin-left: 0.4rem;
}
.itemSale__sale {
	margin-top: 0.4rem;
	color: $red;
}
